# Ignore local environment files containing secrets
.env
env_new.env

# Ignore Python virtualenv
.venv/
venv/
*/venv/
**/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
logs/
